.content {
  display: flex;
  margin: 0 0 32px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.name {
  background: linear-gradient(
    94.23deg,
    #5374fa 12.41%,
    #fd9179 52.55%,
    #ff6969 89.95%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Fondamento", Helvetica;
  font-size: 70px;
  line-height: 1.22;
  margin: 0 auto;
}
.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

svg#rocket {
  position: absolute;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  transition: 1s ease-out;
  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
}
.custom-card {
  width: 100%;
  position: relative;
  background: url("../../assets/code.jpg");
  background-position: center center;
  height: 40vh;
  .main-card {
    position: relative;
    top: 20%;
    margin: 0 auto;
    max-width: fit-content;
    padding: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    color: #ffffff;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../../assets/code.jpg");
      filter: blur(10px);
    }
    .name, p {
      position: relative;
      color: #ffffff;
    }
  }
}

.name-card {
  width: auto;
  height: 30vh;
  color: #fff;
  flex-direction: column;
  position: absolute;
  top: 6%;
  background: transparent;
  p {
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 20px;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .name {
    font-size: 40px;
  }
}
